* {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(234, 233, 233);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 150px;
  padding-left: 80px;
}

.navbar ul {
  padding-right: 40px;
}

.navbar ul .about {
  color: rgb(242, 47, 79);
}

.navbar ul li {
  display: inline-block;
  padding: 0 50px;
}

.navbar ul li a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: rgb(69, 69, 69);
  transition: color 0.2s ease-in-out;
}

.navbar ul li a:hover {
  color: rgb(242, 47, 79);
}

.image-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: rgb(243, 255, 212);
}

.image-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper img {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.text-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 50px;
}

.text-wrapper h2 {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #FF94B9;
  font-family: 'Roboto Condensed', sans-serif;
}

.text-wrapper p {
  font-size: 21px;
  line-height: 1.5;
  color: rgb(102, 102, 102);
  font-family: 'Roboto Flex', sans-serif;
}

.bgcontainer {
  background-color: rgb(241, 229, 234);
}

.chef {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.chef h2 {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: -1px;
  font-size: 45px;
  color: rgb(234, 71, 142);
}

.chef hr {
  width: 150px;
  color: rgb(207, 207, 207);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.card {
  background-color: #fff;
  border: 2px solid rgb(170, 228, 56);
  border-radius: 11px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 350px;
}

.card img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.card-content {
  padding: 10px;
}

.card h2 {
  font-size: 24px;
  margin: 0;
}

.card p {
  font-size: 16px;
  line-height: 1.5;
}

.whyus {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.whyus h2 {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: -1px;
  font-size: 45px;
  color: rgb(234, 71, 142);
}

.whyus hr {
  width: 250px;
  color: rgb(207, 207, 207);
}

.collage {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.image-wrapper {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.image-wrapper img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border: 2px solid rgb(234, 71, 142);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(118, 159, 37, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay:hover {
  opacity: 1;
}

.text {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.delicious {
  margin: 40px 0;
  background-image: url(https://thumbs.dreamstime.com/b/row-ice-cream-scoops-colorful-decorations-shot-above-white-background-89050361.jpg);
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.delicious br {
  display: none;
}

.forbj {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.delicetext {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.delicetext h3 {
  margin-top: 150px;
  font-size: 70px;
  color: pink;
}

.delicetext hr {
  color: rgb(252, 120, 142);
  width: 1100px;
  height: 3px;
}

.first {
  height: 328px;
  margin-top: 50px;
  margin-bottom: 0px;
  background-color: rgb(141, 0, 61);
  color: #fff;
  padding: 50px 0;
}

.spans {
  display: flex;
  justify-content: space-between;
  font-size: 19px;
}

#first {
  margin-left: 15px;
  margin-bottom: 10px;
}

#second {
  margin-right: 15px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 20px;
}

.footer-section h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 26px;
  margin-bottom: 20px;
}

.footer-section p {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.footer-section ul {
  list-style: none;
  margin-bottom: 20px;
}

.footer-section ul li {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 21px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.footer-section ul li i {
  margin-right: 10px;
}

.footer-section.social ul li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  line-height: 40px;
  transition: all 0.2s ease-in-out;
}

.footer-section.social ul li a:hover {
  transform: scale(1.1);
}

.bi {
  font-size: 41px;
  margin-right: 10px;
}

@media only screen and (max-width: 963px) {
  header {
    flex-direction: column;
  }

  .logo {
    margin-left: -133px;
  }

  .navbar ul li {
    padding-bottom: 15px;
    padding-top: 10px;
  }

}

@media only screen and (max-width: 680px) {
  .navbar ul li {
    padding: 10px 33px 15px;
  }
}

@media only screen and (max-width: 544px) {
  .navbar ul li {
    padding: 10px 20px 15px;
  }
}

@media only screen and (max-width: 440px) {
  .navbar ul li {
    padding: 10px 12px 15px;
  }

  .navbar ul li a {
    font-size: 17px;
  }
}

@media only screen and (max-width: 342px) {
  .navbar ul li {
    padding: 10px 30px 15px;
  }

  .navbar br {
    display: block;
  }
}

@media only screen and (max-width: 1200px) {
  .footer-section h2 {
    font-size: 22px;
  }

  .footer-section p {
    font-size: 14px;
  }

  .footer-section ul li {
    font-size: 18px;
  }
}

@media only screen and (max-width: 865px) {
  .first {
    height: 448px;
  }

  .footer-section h2 {
    font-size: 21px;
  }

  .footer-section p {
    font-size: 13px;
  }

  .footer-section ul li {
    font-size: 15px;
  }
}

@media only screen and (max-width: 725px) {
  .footer-section ul li i {
    font-size: 35px;
  }

  .footer-section.social ul li a {
    width: 35px;
    height: 35px;
  }

  .first {
    height: 422px;
  }

  .footer-section ul li {
    font-size: 13px;
  }
}

@media only screen and (max-width: 564px) {
  .first {
    height: 422px;
  }

  .footer-section.social ul li a {
    width: 33px;
    height: 33px;
  }

  .footer-section h2 {
    font-size: 19px;
  }

  .footer-section p {
    font-size: 12px;
  }

  .footer-section ul li {
    font-size: 12px;
  }

  .footer-section ul li i {
    font-size: 33px;
  }
}

@media only screen and (max-width: 493px) {
  .footer-section ul li i {
    font-size: 31px;
  }

  .footer-section.social ul li a {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 493px) {
  .first {
    height: 442px;
  }
}

@media only screen and (max-width: 398px) {
  .first {
    height: 494px;
  }

  .spans {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 329px) {
  .first {
    height: 770px;
  }
}

@media only screen and (max-width: 265px) {
  .first {
    height: 780px;
  }
}

@media only screen and (max-width: 244px) {
  .first {
    height: 795px;
  }
}

@media only screen and (max-width: 236px) {
  .first {
    height: 680px;
  }
}

@media only screen and (max-width: 225px) {
  .first {
    height: 890px;
  }
}

@media only screen and (max-width: 1400px) {
  .delicetext h3 {
    font-size: 55px;
    margin-top: 175px;
  }

  .delicetext hr {
    width: 900px;
  }
}


@media only screen and (max-width: 1050px) {
  .delicetext h3 {
    font-size: 47px;
  }

  .delicetext hr {
    width: 800px;
  }
}

@media only screen and (max-width: 900px) {
  .delicetext h3 {
    font-size: 42px;
  }

  .delicetext hr {
    width: 700px;
  }
}

@media only screen and (max-width: 800px) {
  .delicetext h3 {
    font-size: 38px;
  }

  .delicetext hr {
    width: 600px;
  }
}

@media only screen and (max-width: 725px) {
  .delicetext h3 {
    font-size: 33px;
  }

  .delicetext hr {
    width: 500px;
  }
}

@media only screen and (max-width: 627px) {
  .delicetext h3 {
    font-size: 29px;
  }

  .delicetext hr {
    width: 440px;
  }
}

@media only screen and (max-width: 551px) {
  .delicious {
    height: 300px;
  }

  .delicetext h3 {
    font-size: 25px;
    margin-top: 140px;
  }

  .delicetext hr {
    width: 400px;
  }
}

@media only screen and (max-width: 475px) {
  .delicetext h3 {
    font-size: 21px;
  }

  .delicetext hr {
    width: 350px;
  }
}

@media only screen and (max-width: 399px) {
  .delicetext h3 {
    font-size: 21px;
  }

  .delicious br {
    display: block;
  }

  .delicetext hr {
    width: 150px;
  }
}

@media only screen and (max-width: 1720px) {
  .collage {
    flex-direction: column;
  }

  .image-wrapper {
    width: 550px;
    height: 500px;
  }

  .image-wrapper img {
    width: 550px;
    height: 500px;
  }
}

@media only screen and (max-width: 800px) {
  .image-wrapper {
    width: 400px;
    height: 400px;
  }

  .image-wrapper img {
    width: 400px;
    height: 400px;
  }
}

@media only screen and (max-width: 500px) {
  .image-wrapper {
    width: 300px;
    height: 300px;
  }

  .image-wrapper img {
    width: 300px;
    height: 300px;
  }

  .whyus h2 {
    font-size: 40px;
  }

  .whyus hr {
    width: 200px;
  }
}

@media only screen and (max-width: 350px) {
  .image-wrapper {
    width: 250px;
    height: 250px;
  }

  .image-wrapper img {
    width: 250px;
    height: 250px;
  }
}

@media only screen and (max-width: 1300px) {
  .image-section {
    flex-direction: column;
  }

  .text-wrapper {
    align-items: center;
  }

  .text-wrapper p {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .text-wrapper h2 {
    font-size: 50px;
  }

  .text-wrapper p {
    font-size: 17px;
  }
}

@media only screen and (max-width: 418px) {
  .text-wrapper h2 {
    font-size: 35px;
  }

  .text-wrapper p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 335px) {
  .text-wrapper h2 {
    font-size: 27px;
  }

  .text-wrapper p {
    font-size: 13px;
  }
}

@media only screen and (max-width: 290px) {
  .text-wrapper h2 {
    font-size: 20px;
  }

  .text-wrapper {
    align-items: flex-start;
  }

  .text-wrapper p {
    font-size: 12px;
  }
}